.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

input[type="radio"],
input[type="range"] {
  margin: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

output {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

/* Style for generated diet plan text */
.generated-text {
  font-size: 40px; /* Adjust the size as needed */
  margin-top: 50px;
}
